<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ('Partial/nav') %>
    <h1>Home Page</h1>
    <p>This is the Home Page</p>
  </body>
</html>
