<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
      body { background : skyblue; font-family : verdana ; color : white ; padding : 30px ;}
      h1 { text-transform : uppercase ; text-align : center;}
      p { text-align : center }
    </style>
  </head>
  <body>
    <h1>serving html</h1>
    <p>The person= <%=person%> age= <%=data.age%> job= <%=data.job%> </p>
  </body>
</html>
